<section data-ng-controller="ItemsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Items for sale!</h1>
    </div>
    <div class="left bottom-buffer"><input ng-model="query">
        <slider floor="100" ceiling="1000" step="50" precision="2" ng-model="minPrice"></slider>
        <div class="btn-group category-filter-grp" data-ng-class="{open: open}">
            <button class="btn" data-ng-click="open=!open">Filter by Category</button>
            <button class="btn dropdown-toggle" data-ng-click="open=!open"><span class="caret"></span>

            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li data-ng-repeat="category in categories"> <a data-ng-click="filters.category = category">{{category}}</a>
                </li>
                <li><a data-ng-click="filters.category = ''">None</a></li>
            </ul>
        </div>
    </div>
    <div class="list-group">
        <a data-ng-repeat="item in items | filter:filters | filter:query | filter: priceFilter" data-ng-href="#!/items/{{item._id}}" class="list-group-item">
          <span class="badge">{{item.price | currency}}</span>
            <small class="list-group-item-text">
			            <!--Posted on
		              <span data-ng-bind="item.created | date:'medium'"></span>
		              by
		              <span data-ng-bind="item.user.displayName"></span>-->
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="item.name"></h4>
            <p>{{item.description}}</p>
	    <img ng-src="{{item.image}}"  class="display-img" />
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!items.$resolved || items.length">
    	No Items yet, why don't you <a href="/#!/items/create">create one</a>?
    </div>
</section>
